// COLORS
$color-primary-light: #af9dd7;
$color-primary: #a18cd1;
$color-primary-dark: #8266c2;

$color-secondary: #fbc2eb;

$color-white: #fff;
$color-black: #000;

$color-grey-light: #777;
$color-grey: #666;
$color-grey-dark: #555;
$color-grey-darker: #333;

$color-main-primary: #a18cd1;
$color-main-secondary: #645782;
$color-main-title: #645782;

$color-main-grey: #ebeaea;
$color-main-grey-dark: #cfcfcf;
$color-main-grey-darker: #c4c4c4;
$color-main-grey-text: #505050;
$color-main-grey-sub: #595959;
$color-main-grey-title: #2e2e2e;

$color-main-navbar-text: #8d8d8d;
