@import '../../../assets/scss/shared/colors';

.modal__title {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: $color-main-primary;
}

.modal__content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.modal__inputgroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  &--autocomplete {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

.modal__input {
  width: 100%;
  padding: 0.3rem;
  border: 1px solid $color-grey;

  &--select {
    &:invalid {
      color: grey;
    }
  }

  &:not(:focus) + .auto-complete:not(:hover) {
    display: none;
  }
}

.modal__bottom {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: center;

  @media screen and (max-width: 320px) {
    flex-direction: column;
  }
}

.auto-complete {
  position: absolute;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 100%;
  z-index: 15;
}

.auto-complete-item {
  padding: 0.2rem;
  width: 100%;
  border: 1px solid $color-black;
  background-color: $color-white;
  color: $color-black;
  cursor: pointer;
}
